.storiesContainer {
  position: relative;
  padding: 0;
  padding: 48px 0px 48px 0px;
  gap: 80px;
}

.textGroup {
  justify-content: center;
  max-width: 700px;
}

.textGroup p {
  color: var(--text-muted);
  text-align: center;
}

.cardGroup {
  display: flex;
  gap: 24px;
  width: 100%;
  padding: 4px;
  margin: -4px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.cardGroup::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.sliderWrapper {
  position: relative;
  display: flex;
  width: 100%;
}

@media (min-width: 479px) {
  .storiesContainer {
    padding: 80px;
  }

  .leftBtn,
  .rightBtn {
    position: absolute;
    z-index: 20;
    display: flex;
  }

  .leftBtn {
    left: -64px;
  }

  .rightBtn {
    right: -65px;
  }
}
