.faqSection {
  padding: 80px 80px;
  gap: 80px;
  background-color: var(--bg-color-secondary);
  margin: -80px -80px;
}

.textGroup {
  max-width: 700px;
  justify-content: center;
}

.textGroup p {
  color: var(--text-main);
  text-align: center;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
