.faqSection {
  padding: 48px 16px;
  margin: 0 -16px;
  gap: 32px;
  scroll-margin-top: 70px;
  background-color: var(--bg-color-secondary);
}

.textGroup {
  justify-content: center;
}

.textGroup p {
  color: var(--text-main);
  text-align: center;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
@media (min-width: 1024px) {
  .faqSection {
    padding: 80px 80px;
    gap: 80px;
    margin: -80px -80px;
    scroll-margin-top: 0px;
  }

  .textGroup {
    max-width: 700px;
  }
}
