.primary-button {
  padding: 12px 28px;
  border: none;
  font-family: inherit;
  color: white;
  background-color: var(--primary-color);
  border-radius: 19px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .primary-button {
    border-radius: 26px;
  }
}
