.content {
  justify-content: center;
  padding: 48px 0px 24px;
  gap: 24px;
  scroll-margin-top: 70px;
}
.textGroup {
  justify-content: center;
}

.content p {
  color: var(--text-muted);
}

.inputGroup {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.input {
  border: 1px solid var(--input-border);
  padding: 13px 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-main);
  border-radius: 19px;
}

.input:focus {
  outline: 1px solid var(--accent-color);
}

.imgContainer {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 8px;
}

picture {
  width: 100%;
}

picture img {
  width: 100%;
  height: auto;
}

.input {
  width: 100%;
}

.button {
  width: 100%;
}

@media (min-width: 392px) {
  .inputGroup {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) {
  .content {
    padding: 56px 0px 80px;
  }

  .inputGroup {
    gap: 8px;
  }

  .input {
    border-radius: 26px;
    font-size: 24px;
  }

  .imgContainer {
    margin-top: 80px;
  }
}
