.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 0px 80px;
}

.textGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content p {
  color: var(--text-muted);
}

.inputGroup {
  display: flex;
  gap: 16px;
}

.input {
  color: var(--text-main);
  border: 1px solid var(--input-border);
  border-radius: 20px;
  padding: 13px 24px;
}

.imgContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.image {
  max-width: 100%;
  height: auto;
}
