.content {
  justify-content: center;
  padding: 56px 0px 80px;
  gap: 24px;
}

.textGroup {
  justify-content: center;
}

.content p {
  color: var(--text-muted);
}

.inputGroup {
  display: flex;
  gap: 16px;
}

.input {
  color: var(--text-main);
  border: 1px solid var(--input-border);
  border-radius: 26px;
  padding: 13px 24px;
  font-size: 24px;
  font-weight: 400;
}

.imgContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.image {
  max-width: 100%;
  height: auto;
}
