/* mobile */
.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
}

/* FavoriteTools, getBetter, Hero, Story Section*/
.title {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* desktop */
@media (min-width: 1024px) {
  .sectionContent {
    padding: 0px;
  }
}
