.logo {
  font-size: 32px;
  font-weight: 700;
}

.titleHero {
  min-width: 336px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
}

.textMain {
  min-width: 361px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.buttonLarge {
  font-size: 16px;
  font-weight: 500;
}

.titleSection {
  font-size: 24px;
  font-weight: 700;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
}

.cardText {
  font-size: 18px;
}

.textSmall {
  font-size: 18px;
  font-weight: 400;
}

.textMicro {
  font-size: 14px;
  font-weight: 400;
}

/* UI Elements */
.navItem {
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 480px) {
  .titleHero {
    font-size: 48px;
    text-align: center;
  }

  .titleSection {
    font-size: 32px;
    font-weight: 700;
  }

  .textMain {
    max-width: 700px;
  }

  .cardText {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 16px;
    font-weight: 700;
  }

  .titleHero {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.1;
  }

  .textMain {
    font-size: 20px;
    font-weight: 400;
  }

  .buttonLarge {
    font-size: 24px;
    font-weight: 500;
  }

  .titleSection {
    font-size: 56px;
    font-weight: 800;
  }

  .cardTitle {
    font-size: 32px;
    font-weight: 700;
  }

  .titleCard {
    font-size: 24px;
    font-weight: 700;
  }

  .cardText {
    font-size: 24px;
  }
}
