.getBetter {
  padding: 80px 0;
  gap: 24px;
}

.textGroup {
  justify-content: center;
  max-width: 700px;
}

.imagesContainer {
  position: relative;
  padding: 0 16px 32px 28px;
}

.desktop {
  display: none;
}

.mobile {
  position: relative;
  max-width: 100%;
}

.card {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .getBetter {
    gap: 80px 0px;
  }

  .imagesContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(762px + 80px);
    padding: 0 32px;
  }

  .desktop {
    display: block;
    width: 100%;
    max-width: 977px;
    margin: 0 auto;
  }

  .mobile {
    position: absolute;
    top: 80px;
    right: 0;
  }

  .card {
    bottom: 78px;
  }
}

.textGroup p {
  color: var(--text-muted);
  text-align: center;
}
