.nav {
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px;
  background-color: var(--bg-color);
}

.logo {
  color: var(--text-main);
  font-size: 32px !important;
}

.accent {
  color: var(--accent-color);
}

.links {
  /* mobile hidden state */
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  background-color: var(--bg-color);
}
.links a {
  padding: 4px 4px 4px 0;
  font-size: 16px;
}

.links a:hover {
  padding: 4px 4px 4px;
  background-color: var(--bg-color-accent);
}

.open {
  display: flex;
  flex-direction: column;
  padding: 6px 0px 6px 10px;
  border-radius: 4px;
  background-color: var(--bg-color-accent);
  box-shadow: var(--menu-shadow);
}

.navButton {
  display: none;
}

@media (min-width: 480px) {
  .links a {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .nav {
    z-index: 0;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding: 16px 0px 0px 0px;
    background-color: none;
  }

  .links {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-left: auto;
    width: auto;
    background-color: var(--bg-color);
    box-shadow: none;
  }

  .links a {
    text-decoration: none;
    color: var(--text-main);
  }

  .links a:hover {
    background-color: var(--bg-color);
  }

  .navButton {
    display: flex;
  }
}
