.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}

.logo {
  color: var(--text-main);
}

.accent {
  color: var(--accent-color);
}

.links {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: auto;
}

.links a {
  text-decoration: none;
  color: var(--text-main);
}

.links a:hover {
  color: var(--primary-color);
}
