.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

li {
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: var(--text-muted);
}

a:hover {
  color: var(--primary-color);
}

a:hover svg path {
  fill: var(--primary-color);
}
