.titleSubSection {
  text-align: center;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 756px;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: var(--card-shadow);
  padding: 24px;
  gap: 8px;
  box-sizing: border-box;
  z-index: 1;
}

.headerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.quote {
  text-align: center;
  color: var(--text-main);
}

.authorInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.avatarCard {
  width: 64px;
  height: 64px;
}

.authorMeta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorRole {
  color: var(--text-muted);
  font-weight: 300;
}

@media (min-width: 480px) {
  .authorInfo {
    margin-top: 48px;
  }

  .testimonialCard {
    padding: 48px 48px;
  }
}
