.testimonialContainer {
  position: relative;
  width: 100%;
  height: 766px;
  background-color: var(--bg-color-accent);
  padding: 80px 80px;
  margin: -80px -80px;
  gap: 80px;
}

.decorRight {
  position: absolute;
  right: 0;
  top: 0;
}

.decorLeft {
  position: absolute;
  left: 0;
  bottom: 0;
}
