.testimonialContainer {
  position: relative;
  padding: 0 16px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 -16px;
  gap: 30px;
  background-color: var(--bg-color-accent);
}

.decor {
  position: absolute;
  width: 20%;
  max-width: 200px;

  &[data-side="left"] {
    left: 0;
    bottom: 0;
  }

  &[data-side="right"] {
    right: 0;
    top: 0;
    z-index: 2;
  }
}

.testimonialWrapper {
  display: flex;
  gap: 12px;
}

.leftButton,
.rightButton {
  display: flex;

  background-color: var(--bg-color);
}

.leftButton {
  left: -80px;
}

.rightButton {
  right: -80px;
}

@media (min-width: 480px) {
  .testimonialWrapper {
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .testimonialContainer {
    gap: 40px;
  }
}

@media (min-width: 1024px) {
  .testimonialContainer {
    padding: 0 80px;
    margin: 0 -80px;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 80px;
  }

  .testimonialWrapper {
    gap: 32px;
  }

  .decor[data-side="left"] {
    z-index: 2;
  }
}
