@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #c026d3;
  --accent-color: #86198f;
  --bg-color: #ffffff;
  --text-gradient: linear-gradient(90deg, #c026d3 0%, #701a75 100%);
  --text-main: #0f172a;
  --text-muted: #475569;

  --input-border: #cbd5e1;
  --input-text: #475569;

  /* Font Styles */
  --font-main: "Roboto", sans-serif;

  /* Spacing/Sizes */
  --container-width: 1440px;
  --border-radius: 8px;
}

body {
  font-family: var(--font-main);
  margin: 0;
}
