.itemContainer:hover button {
  color: var(--accent-color);
}

.itemContainer span {
  font-size: 16px;
  font-weight: 500;
}

.trigger {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 88px;
  border: none;
  padding: 16px;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: var(--button-shadow);
  cursor: pointer;
}

.triggerActive {
  box-shadow: var(--button-shadow-focus);
}

.triggerActive svg {
  transform: rotate(180deg);
}

/* closed state*/
.contentWrapper {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.contentOpen {
  max-height: 200px;
  padding: 16px 16px;
  opacity: 1;
  box-shadow: var(--button-shadow);
}

.description {
  text-align: center;
}

@media (min-width: 1024px) {
  .itemContainer span {
    font-size: 20px;
  }

  .trigger {
    padding: 32px;
    gap: 0;
  }

  .contentOpen {
    padding: 32px 32px;
  }

  .description {
    text-align: start;
  }
}
